#mainScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #000000;
}
canvas {
  width: 800px;
  height: 800px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

h1 {
  color: rgb(215, 215, 215);
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}
